{% extends 'base.html.twig' %}

{% block body %}

<h1>Liste des taches</h1>

{% for tache in taches %}

<ul class="list-group">
    <li class="list-group-item">
        {{ tache.name }}
        <a href="{{ path('tache_show', { 'id': tache.id }) }}" class="pull-right"> | show | </a>
        <a href="{{ path('tache_edit', { 'id': tache.id }) }}" class="pull-right"> | edit | </a>
    </li>
</ul>

{% endfor %}

<ul>
    <li>
        <a href="{{ path('tache_new') }}">Create a new tache</a>
    </li>
</ul>
{% endblock %}
